
{% load static %}
<!DOCTYPE html>

<html class="gr__" lang="en"><head>
		

		<script type="text/javascript"> 
            
			window.onload = function(){
			
			var ctx2 = document.getElementById("chartContainer")
			var pr_att = {{present}}
			var ab_att = {{total}}
			var fd = {{fd}}
			var td = {{td}}
			chart2 = new CanvasJS.Chart(ctx2, {
				animationEnabled: true,
				title: {
					text: "Ranged Attendance" //+ fd + td
				},
				data: [{
					type: "pie",
					startAngle: 240,
					yValueFormatString: "##0\"\"",
					indexLabel: "{label} {y}",
					dataPoints: [
						{y: pr_att, label: "Present for"},
						{y: ab_att, label: "Absent for"},

					]
				}]
			});
			chart2.render();
			
			
		}
			  
		</script> 
			  

		<!-- Required meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="au theme template">
		<meta name="author" content="Hau Nguyen">
		<meta name="keywords" content="au theme template">

		<!-- Title Page-->
		<title>HOD</title>

		<!-- Fontfaces CSS-->
		<link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

		<!-- Bootstrap CSS-->
		<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

		<!-- {% static 'vendor CSS-->
		<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

		<!-- Main CSS-->
		<link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

		<style type="{% static 'text/css' %}">/* Chart.js' %} */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

		<body class="animsition" data-gr-c-s-loaded="true" style="animation-duration: 900ms; opacity: 1;">
			<img src="{% static 'images/college.jpg' %}" width="100%" height="100%" style="position: fixed">
			<div class="page-wrapper">
				<!-- HEADER DESKTOP-->
				<header class="header-desktop4" >
					<div class="container">
						<div class="header4-wrap">
							
							<div class="header__tool">
								<div class="header-button-item has-noti js-item-menu">
									<i class="zmdi zmdi-notifications"></i>
									<div class="notifi-dropdown js-dropdown">
										<div class="notifi__title">
											</div>
										<div class="notifi__item">
											<div class="bg-c1 img-cir img-40">
												<i class="zmdi zmdi-email-open"></i>
											</div>
											<div class="content">
												<p>You got a email notification</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__item">
											<div class="bg-c2 img-cir img-40">
												<i class="zmdi zmdi-account-box"></i>
											</div>
											<div class="content">
												<p>Your account has been blocked</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__item">
											<div class="bg-c3 img-cir img-40">
												<i class="zmdi zmdi-file-text"></i>
											</div>
											<div class="content">
												<p>You got a new file</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__footer">
											<a href="#">All notifications</a>
										</div>
									</div>
								</div>
								<div class="header-button-item js-item-menu">
									<!-- <i class="zmdi zmdi-settings"></i>
									<div class="setting-dropdown js-dropdown">
										<div class="account-dropdown__body">
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-account"></i>Account</a>
											</div>
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-settings"></i>Setting</a>
											</div>
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-money-box"></i>Billing</a>
											</div>
										</div>
										<div class="account-dropdown__body">
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-globe"></i>Language</a>
											</div>
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-pin"></i>Location</a>
											</div>
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-email"></i>Email</a>
											</div>
											<div class="account-dropdown__item">
												<a href="#">
													<i class="zmdi zmdi-notifications"></i>Notifications</a>
											</div>
										</div>
									</div> -->
								</div>
								<div class="account-wrap">
									<div class="account-item account-item--style2 clearfix js-item-menu">
										<div class="image">
											<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">ADMIN</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">Administrator</a>
													</h5>
													<span class="email">{{email}}</span>
												</div>
											</div>
											<!-- <div class="account-dropdown__body">
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-account"></i>Account</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-settings"></i>Setting</a>
												</div>
												<div class="account-dropdown__item">
													<a href="#">
														<i class="zmdi zmdi-money-box"></i>Billing</a>
												</div>
											</div> -->
											<div class="account-dropdown__footer" onclick="location.href = '{% url 'log' %}'">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- HEADER DESKTOP -->

				<!-- WELCOME-->
				<section class="welcome2 p-t-40 p-b-40" style="height:200px">
						<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="au-breadcrumb3">
									<div class="au-breadcrumb-left">
										{% comment %} <span class="au-breadcrumb-span">You are here:</span>
										<ul class="list-unstyled list-inline au-breadcrumb__list">
											<li class="list-inline-item active">
												<a href="#">Home</a>
											</li>
											<li class="list-inline-item seprate">
												<span>/</span>
											</li>
											<li class="list-inline-item">Dashboard</li>
										</ul> {% endcomment %}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="welcome2-inner m-t-8">
									<div class="welcome1-greeting">
										<h1 class="title-6" >
											<span>SINHGAD COLLEGE OF ENGINEERING</span>,<br> Department Of Computer Engineering</h1>
                                    </div>
									<form class="form-header form-header1" action="/calculate_ranged/" method="post">
										{% csrf_token %}
										
										<input class="au-input au-input--w435" type="text" name="rn" placeholder="Enter the roll/PRN/Sub ..."><br>
										<input class="au-input au-input--w435" type="text" name="from_date" placeholder="From date dd/mm/yyyy" style="position:absolute;top:50px;"><br>
                                        <input class="au-input au-input--w435" type="text" name="to_date" placeholder="To date dd/mm/yyyy" style="position:absolute;top:100px;">
										<button class="au-btn--submit" type="submit">
											<i class="zmdi zmdi-search"></i>
										</button>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END WELCO-->
			
				<!-- PAGE CONTENT-->

				
				<div class="page-container3">
					<section class="alert-wrap p-t-15 p-b-15">
						<div class="col-md">
							<!-- ALERT
								
									<div class="col-md-12">
									<form class="form-header form-header3" action="/validate/" method="post">

										{% csrf_token %}
										<input class="au-input au-input--w500" type="text" name="rn" placeholder="Enter the roll/PRN/Sub ...">
										<button class="au-btn--submit" type="submit">
											<i class="zmdi zmdi-search"></i>
										</button>
									</form>
					</div>
					-->
							
							<!-- END ALERT-->
						</div>
					</section>
					<section>
						<div class="container">
							<div class="row">
								<div class="col-xl-3">
									<!-- MENU SIDEBAR-->
								<div style="background-color: white">
									<aside class="menu-sidebar3 js-spe-sidebar">
										<nav class="navbar-sidebar2 navbar-sidebar3" >

											<ul class="list-unstyled navbar__list">
												<li class="has-sub">
													<a class="js-arrow" href="#">
														<i class="fas fa-copy"></i>Classes
														<span class="arrow">
															<i class="fas fa-angle-down"></i>
														</span>
													</a>
													<ul class="list-unstyled navbar__sub-list js-sub-list">
												<li class="has-sub">
													<a class="js-arrow" href="#">
														<i class="fas fa-copy"></i>S.E.
														<span class="arrow">
															<i class="fas fa-angle-down"></i>
														</span>
													</a>
													<ul class="list-unstyled navbar__sub-list js-sub-list">
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E. 1</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E. 2</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E. 3</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E. D.S.E.</a>
														</li>
													</ul>
												</li>
												
												<li class=" active has-sub">
													<a class="js-arrow" href="#">
														<i class="fas fa-copy"></i>T.E.
														<span class="arrow">
															<i class="fas fa-angle-down"></i>
														</span>
													</a>
													<ul class="list-unstyled navbar__sub-list js-sub-list">
														<li  class=" active has-sub">
															<a onclick="location.href = '{% url 'callIndex' %}' ">T.E. 1</a>
														</li>
														
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">T.E. 2</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">T.E. 3</a>
						 								</li>
													</ul>
												</li>
												<li class="has-sub">
													<a class="js-arrow" href="#">
														<i class="fas fa-copy"></i>B.E.
														<span class="arrow">
															<i class="fas fa-angle-down"></i>
														</span>
													</a>
													<ul class="list-unstyled navbar__sub-list js-sub-list">
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E. 1</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E. 2</a>
														</li>
														<li>
															<a onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E. 3</a>
														</li>
														
													</ul>
												</li>
											</ul>
												
												<li class="has-sub">
													<a>
															<button type = "button" onclick ="location.href = '{% url 'defaulter' %}' ">Defaulters List</button>
													</a>
												</li>
												<li class="has-sub">
													<a>
															<button type = "button" onclick ="location.href = '{% url 'ranged' %}' ">Ranged Attendance</button>
													</a>	
												</li>
												<li class="has-sub">
														<a>													
														<button type = "button" onclick ="location.href = '{% url 'aboutus' %}' ">About Us </button>
														</a>
														
												</li>
												<li class="has-sub">
													<a>
														<button type = "button" onclick="location.href = '{% url 'callIndexDefault' %}' ">Notice Board</button> 
													</a>
												</li>
											</li>
											</ul>
										</nav>
									</aside>
								</div><!-- END MENU SIDEBAR-->
								</div>
								<div class="col-xl-9">
									<!-- PAGE CONTENT-->
									<div class="page-content">
										<div class="row">
											<div class="col-lg-6">
												<h2 class="title-1 m-b-25"><span style="background-color: white"> Student Details :- </span></h2>
												<div class="au-card au-card--bg-blue au-card-top-countries m-b-40">
													<div class="au-card-inner">
														<div class="table-responsive">
															<table class="table table-top-countries">
																<tbody>
																	<tr>
																		<td>Name : </td>
																		<td class="text-right"><strong>{{ name }}</strong></td>
																	</tr>
																	<tr>
																		<td>Roll No :</td>
																		<td class="text-right"><strong>{{ roll }}</strong></td>
																	</tr>
																	<tr>
																		<td>P.R.N. : </td>
																		<td class="text-right"><strong>{{ prn }}</strong></td>
																	</tr>
																	<tr>
																		<td>Class : </td>
																		<td class="text-right"><strong>{{ division }}</strong></td>
																	</tr>
																	<tr>
																		<td>Batch : </td>
																		<td class="text-right"><strong>A</strong></td>
																	</tr>
																	<tr>
																		<td>CGPA : </td>
																		<td class="text-right"><strong>10.0</strong></td>
																	</tr>
																</tbody>
															</table>
														</div>
													</div>
												</div>
										</div>
									
										<div class="col-lg-6" style="top: 60px;">
											<div id="chartContainer" style="height: 370px; width: 100%;"></div>
											<canvas class="canvasjs-chart-canvas" width="562" height="462" style="width: 450px; height: 370px; position: absolute; -webkit-tap-highlight-color: transparent; user-select: none; cursor: default;"></canvas>											
										</div>
											
										

											
										</div>
									</div>
									<!-- END PAGE CONTENT-->
								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- END PAGE CONTENT  -->

			</div>

			<!-- Jquery JS-->
			<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
			<!-- Bootstrap JS-->
			<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
			<!-- {% static 'vendor JS       -->
			<script src="{% static 'vendor/slick/slick.min.js' %}">
			</script>
			<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
			<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
			</script>
			<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
			<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
			</script>
			<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
			<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
			<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
			<script src="{% static 'vendor/select2/select2.min.js' %}">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"> 
			</script> 
			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
			
			<!-- Main JS-->
			<script src="{% static 'js/main.js' %}"></script>

			

		</body></html>
