
{% load static %}
<!DOCTYPE html>

<html class="gr__" lang="en"><head>
		
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>

	<script type="text/javascript">
            
			window.onload = function(){
			var ctx = document.getElementById("myChart")
			var sub = {{subject_attendance}}
			myChart = new Chart(ctx, { 
			  type: 'bar', 
			  data: { 
				labels: ['CN','DBMS','TOC','SEPM','ISEE','SDL'], 
				datasets: [ 
				  { label: '% of Attendance', 
					data: sub, 
					backgroundColor :["#3e95cd", 
					"#8e5ea2", 
					"#3cba9f", 
					"#e8c3b9", 
					"#c45850", 
			'rgba(255, 159, 64, 0.2)'
			], 
			  
			borderColor: [ "#3e95cd", 
					"#8e5ea2", 
					"#3cba9f", 
					"#e8c3b9", 
					"#c45850", 
			'rgba(255, 159, 64, 0.2)'], 
			borderWidth : 5 
				  } 
				] 
			  }, 

			  scaleLabel :{
				  display : true,
				  labelString : "Nirnay",
				  fontSize : 20
			  },


			  options: { 
					scales: { 
						yAxes: [{ 
							ticks: { 
								beginAtZero:true 
							},
							scaleLabel :{
				 				 display : true,
				  				labelString : "Attendance(%)",
				  				fontSize : 20
			  				},
 
						}],
						xAxes: [{ 
							
							scaleLabel :{
				 				 display : true,
				  				labelString : "Subjects",
				  				fontSize : 20
			  				},
 
						}]  
					},
					legend:{
						display:false
					} 
				}  
					
				 
            }); 
            var ctx1 = document.getElementById("myChart1")
		    var sub1 = {{subject_attendance_practical}}
			myChart1 = new Chart(ctx1, { 
			  type: 'bar', 
			  data: { 
				labels: ['SDL','DBL','CNL'], 
				 xAxisID : 'ss',
				 yAxisID : 'stylesheet',
				datasets: [ 
				  { label: '% of Attendance', 
				  
					data: sub1, 
					backgroundColor :["#3e95cd","#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", 'rgba(255, 159, 64, 0.2)' ], 
			  
			borderColor: ["#3e95cd","#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", 'rgba(255, 159, 64, 0.2)' ], 
			borderWidth : 5
				  } 
				] 
			  }, 
			  options: { 
					scales: { 
						yAxes: [{ 
							ticks: { 
								beginAtZero:true 
							},
							scaleLabel :{
				 				 display : true,
				  				labelString : "Attendance(%)",
				  				fontSize : 20
			  				},
 
						}],
						xAxes: [{ 
							
							scaleLabel :{
				 				 display : true,
				  				labelString : "Subjects",
				  				fontSize : 20
			  				},
 
						}]  
					} ,
					legend:{
						display: false
					} , 
					tooltips:{
						enabled: true
					}
				}  
			}); 
			var ctx2 = document.getElementById("chartContainer")
			var pr_att = {{tot_attendance}}
			var ab_att = 100 - {{tot_attendance}}
			chart2 = new CanvasJS.Chart(ctx2, {
				animationEnabled: true,
				title: {
					text: "Overall Attendance"
				},
				data: [{
					type: "pie",
					startAngle: 240,
					yValueFormatString: "##0.00\"%\"",
					indexLabel: "{label} {y}",
					dataPoints: [
						{y: pr_att, label: "Present"},
						{y: ab_att, label: "Absent"},

					]
				}]
			});
			chart2.render();

			
			
			
		}
		
			FusionCharts.ready(function () {
					var chartObj = new FusionCharts({
						type: 'stackedbar2d',
						renderAt: 'chart-container',
						width: '545',
						height: '400',
						dataFormat: 'json',
						dataSource: {
							"chart": {
								"theme": "fusion",
								"caption": "Number of Lectures Attended",
								"subCaption": "Till current date",
								"xAxisname": "Subjects",
								"yAxisName": "Total Number of Lectures",
								//Showing the Cumulative Sum of stacked data
								//"showlabels": "0",
								/*"showSum": "",
								"numberPrefix":""*/
							},
							"categories": [{
								"category": [{
									"label": "CN"
								},
								{
									"label": "DBMS"
								},
								{
									"label": "TOC"
								},
								{
									"label": "SEPM"
								},
								{
									"label": "ISEE"
								},
								{
									"label": "SDL"
								},

								]
							}],
							"dataset": [{
								"seriesname": "Attended",
								"data": [{
									"value": {{cn}}
								},
								{
									"value": {{dbms}}
								},
								{
									"value": {{toc}}
								},
								{
									"value": {{sepm}}
								},
								{
									"value": {{isee}}
								},
								{
									"value": {{sdl}}
								},
								]
							},
							{
								"seriesname": "Not-Attended",
								"data": [{
									"value": {{cn1}}
								},
								{
									"value": {{dbms1}}
								},
								{
									"value": {{toc1}}
								},
								{
									"value": {{sepm1}}
								},
								{
									"value": {{isee1}}
								},
								{
									"value": {{sdl1}}
								}

								]
							}
							]
						}
					});
	
			chartObj.render();
			})
	</script> 
			  

		<!-- Required meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="au theme template">
		<meta name="author" content="Hau Nguyen">
		<meta name="keywords" content="au theme template">

		<!-- Title Page-->
		<title>HOD</title>

		<!-- Fontfaces CSS-->
		<link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

		<!-- Bootstrap CSS-->
		<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

		<!-- {% static 'vendor CSS-->
		<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

		<!-- Main CSS-->
		<link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

		<style type="{% static 'text/css' %}">/* Chart.js' %} */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

		<body class="animsition" data-gr-c-s-loaded="true" style="animation-duration: 900ms; opacity: 1;">
			<img src="{% static 'images/college.jpg' %}" width="100%" height="100%" style="position: fixed ; opacity: 0.5">
			<div class="page-wrapper">
				<!-- HEADER DESKTOP-->
				<header class="header-desktop4" style="position: fixed; width:100%">
					<div class="container">
						<div class="header4-wrap">
							
							<div class="header__tool">
								<div class="header-button-item has-noti js-item-menu">
									<i class="zmdi zmdi-notifications"></i>
									<div class="notifi-dropdown js-dropdown">
										<div class="notifi__title">
											</div>
										<div class="notifi__item">
											<div class="bg-c1 img-cir img-40">
												<i class="zmdi zmdi-email-open"></i>
											</div>
											<div class="content">
												<p>You got a email notification</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__item">
											<div class="bg-c2 img-cir img-40">
												<i class="zmdi zmdi-account-box"></i>
											</div>
											<div class="content">
												<p>Your account has been blocked</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__item">
											<div class="bg-c3 img-cir img-40">
												<i class="zmdi zmdi-file-text"></i>
											</div>
											<div class="content">
												<p>You got a new file</p>
												<span class="date">April 12, 2018 06:50</span>
											</div>
										</div>
										<div class="notifi__footer">
											<a href="#">All notifications</a>
										</div>
									</div>
								</div>
								<div class="header-button-item js-item-menu">
									
								</div>
								<div class="account-wrap">
									<div class="account-item account-item--style2 clearfix js-item-menu">
										<div class="image">
											<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">Nirnay</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">Administrator</a>
													</h5>
													<span class="email">{{email}}</span>
												</div>
											</div>
											
											<div class="account-dropdown__footer" onclick="location.href = '{% url 'log' %}'">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- HEADER DESKTOP -->

				<!-- WELCOME-->
				<section class="welcome2 p-t-40 p-b-40" style="margin-top: 40px">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="au-breadcrumb3">
									<div class="au-breadcrumb-left">
										{% comment %} <span class="au-breadcrumb-span">You are here:</span>
										<ul class="list-unstyled list-inline au-breadcrumb__list">
											<li class="list-inline-item active">
												<a href="#">Home</a>
											</li>
											<li class="list-inline-item seprate">
												<span>/</span>
											</li>
											<li class="list-inline-item">Dashboard</li>
										</ul> {% endcomment %}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="welcome2-inner m-t-8">
									<div class="welcome1-greeting">
										<h1 class="title-6" >
											<span>Nirnay Khajuria</span>,<br>Free Projects.</h1>
                                    </div>
									<form class="form-header form-header1" action="/caller/" method="post">
										{% csrf_token %}

										<input class="au-input au-input--w435" type="text" name="pn" placeholder="Enter Pone Number "><br>
                                        <input class="au-input au-input--w435" type="text" name="msg" placeholder="Enter the message "><br>
										
										<button class="au-btn--submit" type="submit">
											<i class="zmdi zmdi-search"></i>
										</button>
									</form>
									
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- END WELCO-->

                
                <body background = "{% static 'p1.png' %}">

			<!-- Jquery JS-->
			<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
			<!-- Bootstrap JS-->
			<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
			<!-- {% static 'vendor JS       -->
			<script src="{% static 'vendor/slick/slick.min.js' %}">
			</script>
			<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
			<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
			</script>
			<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
			<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
			</script>
			<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
			<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
			<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
			<script src="{% static 'vendor/select2/select2.min.js' %}">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"> 
			</script> 
			<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
			
			<!-- Main JS-->
			<script src="{% static 'js/main.js' %}"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
			
			

		</body></html>
