
{% load static %}
<!DOCTYPE html>

<html class="gr__" lang="en"><head>
		

		<!-- Required meta tags-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="au theme template">
		<meta name="author" content="Hau Nguyen">
		<meta name="keywords" content="au theme template">

		<!-- Title Page-->
		<title>WELCOME</title>

		<!-- Fontfaces CSS-->
		<link href="{% static 'css/font-face.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

		<!-- Bootstrap CSS-->
		<link href="{% static 'vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

		<!-- {% static 'vendor CSS-->
		<link href="{% static 'vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/wow/animate.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/slick/slick.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
		<link href="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

		<!-- Main CSS-->
		<link href="{% static 'css/theme.css' %}" rel="stylesheet" media="all">

		<style type="{% static 'text/css' %}">/* Chart.js' %} */
@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}</style></head>

		<body class="animsition" data-gr-c-s-loaded="true" style="animation-duration: 900ms; opacity: 1;">
			<img src="{% static 'images/college.jpg' %}" width="100%" height="100%" style="position: fixed">
			<div class="page-wrapper">
				<!-- HEADER DESKTOP-->
				<header class="header-desktop4">
					<div class="container">
						<div class="header4-wrap">
							
							<div class="header__tool">
								<div class="header-button-item has-noti js-item-menu">
									</div>
								
								<div class="account-wrap">
									<div class="account-item account-item--style2 clearfix js-item-menu">
										<div class="image">
											<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
										</div>
										<div class="content">
											<a class="js-acc-btn" href="#">ADMIN</a>
										</div>
										<div class="account-dropdown js-dropdown">
											<div class="info clearfix">
												<div class="image">
													<a href="#">
														<img src="{% static 'images/icon/index.jpeg' %}" alt="John Doe">
													</a>
												</div>
												<div class="content">
													<h5 class="name">
														<a href="#">Administrator</a>
													</h5>
													<span class="email">{{email}}</span>
												</div>
											</div>
											
											<div class="account-dropdown__footer" onclick="location.href = '{% url 'log' %}'">
												<a href="#">
													<i class="zmdi zmdi-power"></i>Logout</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- HEADER DESKTOP -->

				<!-- WELCOME-->
				 <section class="welcome2 p-t-40 p-b-55">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="au-breadcrumb3">
									<div class="au-breadcrumb-left">
										
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="welcome2-inner m-t-60">
									<div class="welcome2-greeting">
										<h1 class="title-6">Hello
											<span>SINHGAD COLLEGE OF ENGINEERING</span>,<br> Department Of Computer Engineering</h1>
									 </div>
									
								</div> 
							</div>
						</div>
					</div>
				</section>
				 
				
				<!-- PAGE CONTENT-->
				
									<!-- END PAGE CONTENT-->
								</div>
							</div>
						</div>
					</section>
				</div>
				<!-- END      -->

			</div>
			<div class="page-container3">
				<!-- <section class="alert-wrap p-t-70 p-b-70"> -->
					<div class="container">
						<!-- ALERT-->
						<div class="card-body">
							<p class="text-muted m-b-15">The following example adds a dropdown menu to "Menu 1":</p>

							<ul class="nav nav-tabs">
								<li class="nav-item">
									<a class="nav-link active" href="#">Home</a>
								</li>
								<li class="nav-item dropdown show">
<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">S.E.
										<span class="caret"></span>
									</a>
<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' " >S.E-1</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E-2</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">S.E-3</a>
                                        <a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">D.S.E.</a>
</div>
								</li>
								<li class="nav-item dropdown show">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">T.E.
										<span class="caret"></span>
									</a>
<div class="dropdown-menu " x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
										<a name = "nk" class="dropdown-item" onclick="location.href = '{% url 'callIndex' %}' " >T.E-1</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">T.E-2</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">T.E-3</a>
</div>
								</li>
								<li class="nav-item dropdown show">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">B.E.
										<span class="caret"></span>
									</a>
<div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 44px, 0px); top: 0px; left: 0px; will-change: transform;">
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E-1</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E-2</a>
										<a class="dropdown-item" onclick="location.href = '{% url 'callIndexDefault' %}' ">B.E-3</a>
</div>
					</div>
				<!-- </section>								 -->
			</div>


			<!-- Jquery JS-->
			<script src="{% static 'vendor/jquery-3.2.1.min.js' %}"></script>
			<!-- Bootstrap JS-->
			<script src="{% static 'vendor/bootstrap-4.1/popper.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
			<!-- {% static 'vendor JS       -->
			<script src="{% static 'vendor/slick/slick.min.js' %}">
			</script>
			<script src="{% static 'vendor/wow/wow.min.js' %}"></script>
			<script src="{% static 'vendor/animsition/animsition.min.js' %}"></script>
			<script src="{% static 'vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
			</script>
			<script src="{% static 'vendor/counter-up/jquery.waypoints.min.js' %}"></script>
			<script src="{% static 'vendor/counter-up/jquery.counterup.min.js' %}">
			</script>
			<script src="{% static 'vendor/circle-progress/circle-progress.min.js' %}"></script>
			<script src="{% static 'vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
			<script src="{% static 'vendor/chartjs/Chart.bundle.min.js' %}"></script>
			<script src="{% static 'vendor/select2/select2.min.js' %}">
			</script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"> 
			</script> 

			<!-- Main JS-->
			<script src="{% static 'js/main.js' %}"></script>

			

		</body></html>
